ul { padding: 0; margin: 0; }
figure { margin: 0; }
p:last-child { margin-bottom: 0; }
a { color: #3f97c9; }
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

/* Gallery */
.grid-item {
	float: left;
	width: 100%;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 10px;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}





.grid-item figure figcaption, .grid-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-item figure figcaption {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
   
}

.grid-item figure {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.grid-item figure img {
    position: relative;
    display: block;
    max-width: 100%;
    opacity: 1;
}

.cd-hero-slider h2 { font-size: 1.5em; }
.cd-hero-slider p.tm-figure-description { font-size: 1.2rem; }

.cd-hero-slider .selected .cd-full-width h2.tm-figure-title {
	margin-bottom: 0;
	color: white;
	text-shadow: 2px 2px 6px #000;
}
.cd-hero-slider .selected .cd-full-width p.tm-figure-description {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    padding: 2em;
    opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

.cd-hero-slider .selected .cd-full-width figure.effect-sadie:hover .tm-figure-title,
.cd-hero-slider .selected .cd-full-width figure.effect-sadie:hover p.tm-figure-description {
    opacity: 1;
    text-shadow:  2px 2px 6px #000;	
}

.cd-hero-slider .selected .cd-full-width figure.effect-sadie:hover p.tm-figure-description {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.grid-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.tm-white-box-margin-b { margin-bottom: 30px; }
.cd-full-width .container-fluid.tm-page-width {
	padding-left: 10px;
	padding-right: 10px;
}

/* Media Queries */

@media only screen and (min-width: 400px) {
	.cd-hero-slider h2 { font-size: 1.4em; }
	.grid-item figure figcaption { padding: 2em; }
}

@media only screen and (min-width: 480px) {
	.cd-hero-slider h2.tm-text-title { font-size: 1.8em; }
	.tm-textbox-padding { padding: 30px 40px; }
	.tm-textbox-padding-contact { padding: 30px; }
	.grid-item { width: 50%; }
	.grid-item figure figcaption { padding: 1.5em; }	
}

@media only screen and (min-width: 600px) {
	.tm-footer { padding: 50px 0px 0px 0px; }
	.tm-copyright-text { width: auto; }
}

@media only screen and (min-width: 720px) {	
	.tm-footer { 
		-ms-flex-direction: row; 
			flex-direction: row; 
	}

	.tm-copyright-text { margin-top: 0; }
}

@media only screen and (min-width: 768px) {

	.tm-flex { 
		display: -ms-flexbox; 
		display: flex;
	}

	.tm-2-col-textbox-2 {	
		margin-bottom: 0;
		margin-right: 30px;
		width: 100%;
	}

	.tm-2-col-textbox-2:last-child { margin-right: 0; }
	.cd-full-width .container-fluid.tm-page-width { max-width: 800px; }
}

@media only screen and (min-width: 992px) {
	.tm-navbar-bg { 
		padding-left: 25px; 
		padding-right: 0;
	}

	.tm-navbar {
		position: static;
		height: auto !important;		
	}

	.cd-slider-nav .navbar-nav {
		background: transparent;
		display: -ms-flexbox;
		display: flex;
	}

	.cd-slider-nav li {	
		display: inline-block; 
		width: auto;
		height: auto;
	}

	.cd-slider-nav a, 
	.navbar-nav .nav-link {
		height: 80px;
	}

	.cd-hero-slider .cd-full-width { padding-top: 80px; }

	.tm-social-icons-container { margin-bottom: 20px; }

	.cd-full-width .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	.cd-full-width .container-fluid.tm-page-pad,
	.cd-full-width .container-fluid.tm-page-pad {
		padding-left: 10px;
		padding-right: 10px;
	}

	.cd-full-width .container-fluid.tm-page-width {
		max-width: 1200px;
	}

	.grid-item { width: 25%; }	
	.grid-item figure figcaption { padding: 1em; }	
}

@media only screen and (min-width: 1063px) {
	.cd-slider-nav { top: 0; }	
	.cd-slider-nav nav { padding: 0; }	
	.tm-brand-icon { margin-right: 15px; }
	.tm-contact-page, .tm-about-page { padding: 20px 20px 0; }
	.cd-full-width .container-fluid.tm-page-width {
		padding-left: 30px;
		padding-right: 30px;
	}
	.tm-page-width {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media only screen and (min-width: 1170px) {	
	.cd-hero-slider h2, .cd-hero-slider p { margin-bottom: 20px; }
	.cd-hero-slider p:last-child { margin-bottom: 0; }	
	.cd-hero-slider .tm-text { font-size: 1em; }
	.grid-item figure figcaption { padding: 2em; }
}

@media only screen and (min-width: 1333px) {
	.cd-slider-nav a,
	.navbar-nav .nav-link {
		font-size: 1.2em;
		width: 160px;
		height: 110px;
	}
	.cd-hero-slider .cd-full-width { padding-top: 30px; }
	.cd-slider-nav a.navbar-brand { font-size: 3.5rem; }

	.cd-full-width .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	.tm-brand-icon { 
		font-size: 4rem;
    	padding: 10px;
		margin-right: 15px;
	}
	.tm-navbar-bg { padding-left: 30px; }
}

@media only screen and (min-width: 1340px) {
	.cd-full-width .container-fluid.tm-page-width { 
		padding-left: 0; 
		padding-right: 0;
	}	
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tm-2-col-textbox-2 { margin-right: 15px; }
	#google-map { height: 520px; }
    	
}
	.cd-hero-slider .cd-full-width { padding-top: 30px; }

